*,
*::after,
*::before,
html
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  text-rendering: optimizeLegibility
  //height: 100%

body
  align-items: center
  background-color: #000
  color: #fff
  display: flex
  font-family: 'Open Sans', sans-serif
  font-size: 18px
  justify-content: center
  margin: 0
  min-height: 100vh
  flex-wrap: wrap

a
  text-decoration: none
