main
  text-align: left

.title
  font-size: 1.2rem
  font-weight: bold

.question
  margin-bottom: 5rem

.answer
  text-align: center
  font-size: 3em
  font-family: 'Roboto Mono', monospace


.timer
  font-size: 1.5rem
  font-family: 'Roboto Mono', monospace

.created-by
  font-size: .7em
  text-align: center
  position: absolute
  bottom: 1em

.creator-link
  color: #ffffff
  text-decoration: underline
  font-weight: bold
  transition: opacity .3s ease-in-out

  &:hover
    opacity: .7
