main
  text-align: left

.question
  margin-bottom: 5rem

.answer
  text-align: center
  font-size: 7em
  font-family: 'Roboto Mono', monospace

.timer
  margin: .5rem 0
  font-size: 1.5rem
  font-family: 'Roboto Mono', monospace

  &_title
    margin: 0
    font:
      size: 1.2rem
      weight: bold

  &_subtitle
    font-size: .85rem

.created-by
  font-size: .7em
  text-align: center
  position: absolute
  bottom: 1em
  display: block

.creator-link
  color: #ffffff
  text-decoration: underline
  font-weight: bold
  transition: opacity .3s ease-in-out

  &:hover
    text-decoration: none